body {
    font-family: Poppins;
}

#all {
    border: 0.5em blue solid;
    outline: none;
    border-radius: 10%;
    width: 50%;
    font-size: 1em;
    font-weight: 700;
    color: blue;
    background-color: white;
}

button:focus {
    
}

h1 {
    margin-left: 4%;
    text-decoration: underline;
}

/* Layout */
.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    column-gap: 1em;
    grid-template-areas: 
    ". ease"
    ". linear"
    "all ease-in"
    ". ease-out"
    ". ease-in-out";
    width: 90vw;
    margin: 0 auto;
    }


/* Grid Areas */
#all {
    grid-area: all;
}

.ease {
    grid-area: ease;
}

.linear {
    grid-area: linear;
}

.ease-in {
    grid-area: ease-in;
}

.ease-out {
    grid-area: ease-out;
}

.ease-in-out {
    grid-area: ease-in-out;
}

.cubic-track {
    height: 5em;
    width: 100%;
    margin: 0.5em 0;
    border-radius: 10%;
    background-color: transparent;
    border: 1.5px hsl(240,100%,25%, 0.1) dotted;
}

/* Bezier Cubes */

.bezier {
    width: 5em;
    height: 5em;
    border-radius: 10%;
    background-color: blue;
    display: flex;
    justify-content: center;
    
}

.bezier:hover,
#all:hover {
    transform: scale(1.2);
    box-shadow: 0.1em 0.1em 0.2em 0.1em hsla(0, 0%, 0%, 0.25);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.402, 1.275);
}

.bezier h2 {
    color: white; 
    font-size: 1em;
    position: relative; 
    top: 1em;
}

#e-i-o-t {
    font-size: 0.8em;
    top: 1.5em;
}

/* Transition */
#ease:active {
    transform: translate(68vw);
    transition: all 2.5s ease;
}

#linear:active {
    transform: translate(68vw);
    transition: all 2.5s linear;
}

#ease-in:active {
    transform: translate(68vw);
    transition: all 2.5s ease-in;
}

#ease-out:active {
    transform: translate(68vw);
    transition: all 2.5s ease-out;
}

#ease-in-out:active {
    transform: translate(68vw);
    transition: all 2.5s ease-in;
}

/* Media queries */

@media (min-width: 320px) and (max-width: 1025px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "all" 
        "ease"
        "linear"
        "ease-in"
        "ease-out"
        "ease-in-out";
        width: 80vw;
        margin: 0 auto;
    }

    #all {
        width: 5em;
        height: 5em;
    }

    h1 {
        margin-left: 9%;
    }
}